
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f3; 
    color: #333;
    line-height: 1.6;
}

.navbar {
    background-color: #6C5CE7; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth color transition */
}

.navbar a:hover {
    color: #FFDD57; 
}

/* Profile section styles */
.profile {
    background-color: #fff;
    padding: 15px;
    /* margin: 20px; */
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Section styles */
section {
    margin: 20px;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #6C5CE7; 
    font-size: 2.5em; 
}

h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 1.8em; 
}
/* Attendance overview styles */
.attendance-overview {
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

/* Results styles */
.results {
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


button {
    background-color: #FFDD57; 
    border: none;
    border-radius: 8px;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFC300; 
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0; 
    }
}
